/**
 * Color variables for light and dark themes
 */

/**
 * Styles for chart container
 */
.chart {
  width: 60%;
}

/**
 * Styles for hero banner
 */
.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

/**
 * Responsive styles for smaller screens
 */
@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

/**
 * Styles for button container
 */
.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}
